.about-us {
  padding-bottom: 58px;
}

.about-us__title {
  margin: 0 0 30px;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;

  @media (min-width: $vp--1150) {
    margin-left: 179px;
  }
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $vp--768) {
    column-count: 2;
    // margin-left: 179px;
  }

  @media (min-width: $vp--1150) {
    column-count: 2;
    margin-left: 179px;
  }
}

.about-us__item {
  margin-bottom: 20px;
}
