.cards {
  @media (min-width: $vp--1150) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding-bottom: 57px;
  }
}

.cards__item {
  padding-bottom: 30px;

  @media (min-width: $vp--768) {
    min-height: 335px;
  }

  @media (min-width: $vp--1150) {
    min-height: 659;
    padding-bottom: 0;
  }
}
