.cards {
  padding: 1px 30px;
  outline: 1px solid $color-green;
}

.card__title {
  line-height: 24px;
}

.card__discription {
  display: block;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $color-charcoal;
}

.card__price {
  font-size: 15px;
  line-height: 24px;
}
