.contacts {
  padding-top: 39px;
  padding-bottom: 39px;

  @media (min-width: $vp--768) {
    padding-top: 46px;
    padding-bottom: 57px;
  }
}

.contacts__wrapper {
  @media (min-width: $vp--768) {
    position: relative;
    padding-top: 22px;

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      top: 0;
      right: 53px;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $vp--1150) {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 65px;
      }
    }
  }

  @media (min-width: $vp--1150) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    max-width: 1150px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $vp--768) {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp--1150) {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: 79px;
    margin-bottom: 30px;
  }
}

.contacts__list-wrapper {
  margin-bottom: 62px;

  @media (min-width: $vp--768) {
    display: flex;
    margin-bottom: 19px;
  }

  @media (min-width: $vp--1150) {
    grid-column: 2/4;
    grid-row: 2/3;
    flex-direction: column;
    margin: 0;
  }
}

.contacts__list {
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $color-charcoal;

  @media (min-width: $vp--768) {
    width: 50%;
    font-size: 17px;
  }

  @media (min-width: $vp--1150) {
    width: auto;
    margin-bottom: 24px;
  }
}

.contacts__item {
  width: 77px;

  @media (min-width: $vp--1150) {
    width: 82px;
  }
}

.contacts__discription {
  margin: 0;
}

.contacts__link-email {
  padding-bottom: 4px;
  border-bottom: 1px solid $color-downy;

  &:hover {
    color: $color-downy;
  }

  &:active {
    border-color: rgba($color-downy, 0.1);
  }
}

.contacts__map-image {
  width: calc(100% + 60px);
  margin-left: -30px;
  margin-bottom: 38px;
  height: 454px;

  @media (min-width: $vp--768) {
    width: calc(100% + 100px);
    margin-left: -50px;
    margin-bottom: 55px;
  }

  @media (min-width: $vp--1150) {
    grid-column: 4/-1;
    grid-row: 1/-1;
    margin: 0;
    width: 528px;
    height: 547px;
  }
}

.contacts__button {
  grid-column: 2/3;
  justify-self: center;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: $color-charcoal;
  text-transform: uppercase;

  @media (min-width: $vp--768) {
    width: 230px;
    margin: 0 auto;
    font-size: 17px;
  }

  @media (min-width: $vp--1150) {
    grid-column: 2/4;
    grid-row: 3/-1;
    place-self: end start;
    margin: 0;
  }
}
