.form {
  @media (min-width: $vp--1150) {
    padding-left: 60px;
    padding-right: 175px;
  }
}

.form__discription {
  margin: 0;
  padding-bottom: 30px;
  // width: 655px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $color-charcoal;

  @media (min-width: $vp--768) {
    margin: 0;
    padding-bottom: 13px;
    font-size: 17px;
    line-height: 30px;
    text-align: left;
    width: 625px;
  }

  @media (min-width: $vp--1150) {
    margin-left: 115px;
    width: 700px;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 30px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-downy;
  overflow: hidden;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    vertical-align: middle;
    background-color: $color-downy;
    border-left: 15px solid $color-white;
    margin-right: -100%;

    @media (min-width: $vp--768) {
      display: none;
    }
  }

  &--radio {
    // margin-bottom: 30px;
  }

  &--checkbox {
    // margin-bottom: 25px;
  }

  &--initials {
    // margin-bottom: 28px;
  }

  &--phone {
    margin-bottom: 5px;
  }

  &--email {
    margin-bottom: 5px;
  }

  &--textarea {
    // margin-bottom: 22px;
  }

  @media (min-width: $vp--768) {
    margin: 0;
    margin-top: 17px;
    width: 25%;
  }

  @media (min-width: $vp--1150) {
    width: 16%;
  }
}

.form__wrapper-radio {
  padding-bottom: 30px;

  @media (min-width: $vp--768) {
    display: flex;
    padding: 50px 0;
  }
}

.form__radio-list {
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  &:last-child {
   margin-bottom: 0;
  }
}

.form__radio-item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
   }
}

.form__label-radio {
  display: flex;
  align-items: center;
}

.form__input-radio {
  appearance: none;
}

.form__custom-radio {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 19px;
  border-radius: 50%;
  outline: 2px solid $color-black;
  outline-offset: -2px;

  @media (min-width: $vp--768) {
    width: 52px;
    height: 52px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $color-downy;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  }

  &:hover {
    outline: 2px solid $color-downy;
  }

  &:active {
    outline: 2px solid rgba($color-black, 0.3);
  }
}

.form__input-radio:checked + .form__custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.2s ease-in;
}

.form__wrapper-checkbox {
  padding-bottom: 30px;

  @media (min-width: $vp--768) {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $color-white-smoke;
  }
}

.form__checkbox-list {
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: $vp--768) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
  }

  @media (min-width: $vp--1150) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 24px;
  }
}

.form__checkbox-item {
  margin-bottom: 38px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $vp--768) {
    margin: 0;
  }
}

.form__label-checkbox {
  display: flex;
  align-items: center;
}

.form__input-checkbox {
  appearance: none;
}

.form__custom-checkbox {
  position: relative;
  width: 38px;
  height: 38px;
  margin-right: 23px;
  border: 2px solid $color-black;

  @media (min-width: $vp--768) {
    width: 52px;
    height: 52px;
  }

  &::before {
    content: "";
    position: absolute;
    display: none;
    width: 23px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $vp--768) {
      width: 32px;
      height: 22px;
    }
  }

  &:hover {
    border-color: $color-downy;
  }

  &:active {
    border-color: rgba($color-black, 0.3);
  }
}

.form__input-checkbox:checked + .form__custom-checkbox::before {
  display: block;
}

.form__wrapper-initials {
  padding-bottom: 30px;

  @media (min-width: $vp--768) {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $vp--1150) {
  }
}

.form__initials-wrapper {
  @media (min-width: $vp--768) {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $vp--1150) {
      width: 100%;
    }
  }
}

.form__control {
  @media (min-width: $vp--768) {
    display: flex;
  }
}

.form__text {
  line-height: 18px;

  @media (min-width: $vp--768) {
    margin: 17px 25px 0 0;
  }
}

.form__input {
  padding: 17px;
  padding-left: 0;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: inset 0px -2px 0px $color-black;
  border: none;
  background-color: transparent;

    &::placeholder {
      font-weight: 400;
      font-size: 17px;
      line-height: 18px;
      color: $color-black;
      opacity: 0.3;

      @media (min-width: $vp--768) {
        font-size: 19px;
      }
    }

    &:hover {
      box-shadow: inset 0px -2px 0px $color-downy;
    }
s
    &:active {
      box-shadow: inset 0px -2px 0px $color-downy;

    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0px -2px 0px $color-downy;
    }

    &--patronymic {
      margin-bottom: 0;
    }

    &--email {
      margin-bottom: 0;
    }

  // @media (min-width: $vp--768) {
  //   width: 70%;
  // }

  @media (min-width: $vp--1150) {
    // width: 85%;

    &--name {
      width: 100%;
    }
  }
}

.form__wrapper-phone-email {
  @media (min-width: $vp--768) {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $color-white-smoke;
  }

  @media (min-width: $vp--1150) {
  }
}

.form__wrapper-phone {
  position: relative;
  padding-bottom: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 34px;
    right: 0;
    width: 25px;
    height: 24px;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $vp--768) {
      top: 15px;
    }

    @media (min-width: $vp--1150) {
      top: 15px;
    }
  }

  @media (min-width: $vp--768) {
    display: flex;
  }
}

.form__wrapper-email {
  position: relative;
  padding-bottom: 30px;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 36px;
  //   right: 0;
  //   width: 32px;
  //   height: 21px;
  //   background-image: url("../img/mail.svg");
  //   background-repeat: no-repeat;
  //   background-position: center;

  //   @media (min-width: $vp--768) {
  //     top: 15px;
  //   }

  //   @media (min-width: $vp--1150) {
  //     top: 15px;
  //   }
  // }

  @media (min-width: $vp--768) {
    display: flex;
    padding-bottom: 0;
  }
}

// .form__input--email:hover + .form__icon-email {
//   fill: green;
//   opacity: 1;
// }

// .form__input--email:focus-visible {
//   outline: none;
// }

.form__icon-email {
  position: absolute;
  top: 10px;
  right: 0;
}

.form__wrapper-textarea {
  @media (min-width: $vp--768) {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $vp--1150) {
    display: flex;
  }
}

.form__textarea {
  width: 100%;
  height: 142px;
  min-height: 142px;
  padding: 17px;
  border: 2px solid $color-charcoal;

  &::placeholder {
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: $color-black;
    opacity: 0.3;

    @media (min-width: $vp--768) {
      font-size: 19px;
    }
  }

  &:hover {
    border: 2px solid $color-downy;
  }

  &:active {
    border: 2px solid $color-downy;
  }

  &:focus-visible {
    outline: none;
    border: 2px solid $color-downy;
  }
}

.form__legend-button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $vp--768) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $vp--1150) {
    max-width: 900px;
    padding-left: 115px;
    justify-content: space-between;
  }
}

.form__legend {
  display: block;
  margin-bottom: 37px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-charcoal;

  @media (min-width: $vp--768) {
    order: 1;
    align-self: center;
    margin: 0;
  }
}

.form__button-submit {
  width: 100%;
  padding: 18px;
  text-align: center;
  font-weight: 700;
  line-height: 16px;
  color: $color-charcoal;
  text-transform: uppercase;

  @media (min-width: $vp--768) {
    width: 230px;
  }
}
