.intro {
  position: relative;
  background-color: $color-snow;

  @media (min-width: $vp--768) {
    &::after {
      content: "";
      position: absolute;
      bottom: -13px;
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-fill-tablet.svg");
    }
  }

  @media (min-width: $vp--1150) {
    &::after {
      content: "";
      position: absolute;
      bottom: -17px;
      width: 100%;
      height: 34px;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-size: 1250px;
      background-repeat: repeat-x;
    }
  }

  &--bg-image {
    background-image: url("../img/bg/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 50% 62px;
    background-clip: border-box;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/hero-mobile@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: $vp--768) {
      position: relative;
      background-image: url("../img/bg/hero-desktop.jpg");
      background-position: 50% 87px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg/hero-desktop@2x.jpg");
        background-size: 768px auto;
      }
    }
  }
}
