.lead {
  padding-top: 73px;

  @media (min-width: $vp--768) {
    padding-top: 110px;
  }

  @media (min-width: $vp--1150) {
    padding-top: 97px;
  }

  &--bg-image {
    background-image: url("../img/bg/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 50% -18px;
    background-clip: border-box;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/hero-mobile@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: $vp--768) {
      position: relative;
      background-image: url("../img/bg/hero-desktop.jpg");
      background-position: 50% -46px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg/hero-desktop@2x.jpg");
        background-size: 768px auto;
      }
    }

    @media (min-width: $vp--1150) {
      background-position: 50% -61px;
    }
  }
}

.lead__title {
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 460px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $vp--768) {
    max-width: 668px;
    margin-bottom: 370px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp--1150) {
    max-width: 630px;
    margin-bottom: 353px;
    font-size: 53px;
    line-height: 57px;
  }
}

.lead__title br {
  @media (min-width: $vp--768) {
    display: none;
  }
}

.lead__link-wrapper {
  width: calc(100% + 60px);
  margin-left: -30px;

  @media (min-width: $vp--768) {
    display: flex;
    margin: 0;
    width: 100%;
  }

  @media (min-width: $vp--768) {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }
}

.lead__link {
  display: block;
  width: 100%;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: $color-white;
  padding: 23px 30px 32px 30px;
  transition: 0.3s ease;

  @media (min-width: $vp--768) {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
    padding: 25px 37px 34px 37px;
  }

  &--interior {
    position: relative;
    background-color: $color-downy;

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 37px;
      width: 40px;
      height: 62px;
      background-image: url("../img/interior.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.7;

      @media (min-width: $vp--768) {
        top: 31px;
      }
    }

    &:hover::after {
      opacity: 1;
    }

    &:active::after {
      opacity: 0.3;
    }

    &:focus-visible {
      outline: 2px solid $color-black;
      outline-offset: -2px;
    }

    @media (min-width: $vp--768) {
      &:hover {
        transform: translateY(-5px);
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: calc(100% + 5px);
        background-color: $color-downy;
        z-index: -1;
      }
    }
  }

  &--toy {
    position: relative;
    background-color: $color-puerto-rico;

    &::after {
      content: "";
      position: absolute;
      top: 21px;
      right: 28px;
      width: 60px;
      height: 60px;
      background-image: url("../img/toy.svg");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.7;

      @media (min-width: $vp--768) {
        top: 32px;
        right: 34px;
      }
    }

    &:hover::after {
      opacity: 1;
    }

    &:active::after {
      opacity: 0.3;
    }

    &:focus-visible::after {
      opacity: 1;
    }

    &:focus-visible {
      outline: 2px solid $color-black;
      outline-offset: -2px;
    }

    @media (min-width: $vp--768) {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: calc(100% + 5px);
        background-color: $color-puerto-rico;
        z-index: -1;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}

.lead__link-text {
  display: block;
  width: 130px;
}

.lead__title-catalog {
  margin: 0;
  line-height: 30px;
  font-size: 27px;
  color: $color-black;
}

.lead__title-order {
  line-height: 30px;
  font-size: 27px;
  color: $color-black;
}
