.lead-inner {
  display: flex;
  justify-content: center;
  padding-top: 72px;


  @media (min-width: $vp--768) {
    padding-top: 56px;
  }

  @media (min-width: $vp--1150) {
    padding-top: 102px;
  }
}

.lead-inner__title {
  margin: 0;
  margin-bottom: 73px;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $vp--768) {
    margin-bottom: 73px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp--1150) {
    margin-bottom: 115px;
  }
}
