.lead {
  background-color: $color-white-smoke;
  background-image: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 1px solid $color-grey;

  @media (min-width: $vp--768) {
    background-image: url("../img/hero-tablet.png");
  }

  @media (min-width: $vp--1150) {
    background-image: url("../img/hero-desktop.png");
  }
}

.lead__wrapper {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.lead__title {
  margin-top: 70px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.lead__link-wrapper {
  margin-top: auto;

  @media (min-width: $vp--768) {
    display: flex;
  }
}

.lead__link {
  display: block;
  width: 100%;
  min-height: 103px;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: $color-white;
  padding: 20px 30px;

  @media (min-width: $vp--768) {
    display: inline-block;
    width: 50%;
  }

  &--interior {
    background-color: $color-downy;
  }

  &--toy {
    background-color: $color-puerto-rico;
  }
}

.lead__link-text {
  display: block;
  width: 130px;
}

.lead__title-catalog {
  margin: 0;
  line-height: 30px;
  font-size: 27px;
  color: $color-black;
}

.lead__title-order {
  line-height: 30px;
  font-size: 27px;
  color: $color-black;
}
