.main-navigation {
  @media (min-width: $vp--768) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.main-navigation__logo {
  align-self: center;

  @media (min-width: $vp--768) {
    display: none;
  }
}

.main-navigation__logo-tablet {
  display: none;

  @media (min-width: $vp--768) {
    display: block;
  }

  @media (min-width: $vp--1150) {
    display: none;
  }
}

.main-navigation__logo-desktop {
  display: none;

  @media (min-width: $vp--1150) {
    display: block;
  }
}

.main-navigation__image {
  width: 86px;
  height: 35px;
}

.page-header__main-navigation {
  outline: 1px solid $color-green;
}

.main-navigation__toggle {
  border: none;
  background-color: transparent;

  @media (min-width: $vp--768) {
    display: none;
  }
}

.main-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation__link {
  display: block;
  line-height: 24px;
}

.main-navigation__search {
  display: block;
  line-height: 24px;
}

.main-navigation__cart {
  display: block;
  line-height: 24px;
}

.main-navigation__legend {
  display: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $color-charcoal;

  @media (min-width: $vp--768) {
    display: block;
  }
}
