.main-navigation__wrapper {
  // display: none;
}

.main-navigation__link {
  display: block;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  text-decoration: none;
}

.main-navigation__search {
  display: block;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  text-decoration: none;
}

.main-navigation__cart {
  display: block;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  text-decoration: none;
}
