.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-white, 0.9);
}

.modal__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 28px 30px 46px;
  width: 320px;
  background-color: $color-white;
  border: 1px solid $color-silver;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: $vp--768) {
    width: 566px;
    padding: 37px 92px 46px;
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  width: 160px;
  text-align: center;
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $vp--768) {
    font-size: 30px;
    line-height: 57px;
    width: 100%;
  }
}

.modal__text {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-charcoal;

  @media (min-width: $vp--768) {
    font-size: 17px;
  }
}

.modal__form {
  width: 100%;
}

.modal__control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.modal__control-mark {
  display: block;
  width: 82px;
  height: 52px;
  line-height: 16px;
  border: 2px solid rgba($color-charcoal, 0.1);
  text-transform: uppercase;
  padding-top: 14px;
  text-align: center;

  @media (min-width: $vp--768) {
    width: 112px;
  }

  &:hover {
    border-color: $color-charcoal;
  }

  &:active {
    border-color: $color-downy;
  }
}

.modal__control-input:checked + .modal__control-mark {
  border-color: $color-downy;
}

.modal__button {
  width: 100%;
  padding: 18px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-downy;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-puerto-rico-light;
  }

  &:active {
    color: $color-charcoal;
  }
}
