.page-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  min-height: 100%;

  font-family: $font-family-open-sans;
  font-style: normal;
  font-weight: 700;
  background-color: $color-white;
  color: $color-black;
}
