.page-header {
  outline: 1px solid $color-green;

  @media (min-width: $vp--768) {
    width: auto;
  }

  @media (min-width: $vp--1150) {
    width: auto;
  }
}

.page-header__wrapper {
  padding: 20px 30px;

  @media (min-width: $vp--768) {
    padding: 0 48px;
  }

  @media (min-width: $vp--1150) {
    padding: 0 52px;
  }
}
