.page-footer {
  margin-top: auto;
  min-height: 160px;
  width: 100%;
  background-color: $color-white-smoke;

  @media (min-width: $vp--768) {
    min-height: 143px;
  }
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 20px;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: $color-whisper;
    left: 30px;
    right: 30px;
    top: 79px;

    @media (min-width: $vp--768) {
      display: none;
    }
  }

  @media (min-width: $vp--768) {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }

  @media (min-width: $vp--1150) {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    width: 1150px;
    margin: 0 auto;
  }
}

.page-footer__logo {
  display: none;
  width: 102px;
  min-height: 34px;
  margin-bottom: auto;

  @media (min-width: $vp--768) {
    display: block;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin-bottom: 50px;
}

.page-footer__copyright {
  display: flex;
  width: 182px;
  justify-content: space-between;
}

.page-footer__copyright-text {
  font-size: 19px;
  line-height: 18px;
  align-self: center;
}
