.promo {
  padding-bottom: 39px;
  outline: 1px solid $color-green;
}

.promo__wrapper {
  padding: 0 30px;

  @media (min-width: $vp--768) {
    display: grid;
    grid-template-columns: 292px 334px;
    grid-template-rows: repeat(5, auto);
    column-gap: 42px;

    padding: 0 52px;
  }

  @media (min-width: $vp--1150) {
    display: grid;
    grid-template-columns: 143px 292px 525px;
    grid-template-rows: repeat(5, auto);
    column-gap: 43px;

    padding: 0 52px;
  }
}

.promo__title {
  line-height: 30px;
  font-size: 25px;
  margin: 0;

  @media (min-width: $vp--1150) {
    grid-column: 2/4;
    grid-row: 1/2;
  }
}

.promo__label {
  line-height: 20px;
  text-transform: uppercase;
  color: $color-downy;
  margin: 0;

  @media (min-width: $vp--1150) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.promo__text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $color-charcoal;

  @media (min-width: $vp--1150) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.promo__list-wrapper {
  @media (min-width: $vp--768) {
    grid-column: 1/2;
  }

  @media (min-width: $vp--1150) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.promo__list {
  display: flex;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $color-charcoal;
}

.promo__item {
  width: 97px;
}

.promo__discription {
  margin: 0;
}

.promo__price {
  line-height: 24px;
  font-size: 17px;
  color: $color-charcoal;

  @media (min-width: $vp--1150) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

.promo__button {
  display: block;
  line-height: 18px;
  font-size: 20px;
  color: $color-charcoal;

  @media (min-width: $vp--768) {
    grid-column: 1/2;
  }

  @media (min-width: $vp--1150) {
    grid-column: 2/3;
    grid-row: 5/6;
  }
}

.promo__image {
  @media (min-width: $vp--768) {
    grid-column: 2/3;
    grid-row: 2/-1;
  }

  @media (min-width: $vp--1150) {
    grid-column: 3/4;
    grid-row: 1/-1;
  }
}
