.review {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 51px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-image: url("../img/zigzag-line-mobile.svg");

    @media (min-width: $vp--768) {
      height: 17px;
      background-image: url("../img/zigzag-line-desktop.svg");
    }

    @media (min-width: $vp--1150) {
      margin: 0 auto;
      margin-left: 50px;
      width: calc(100% - 100px);
      height: 17px;
      background-image: url("../img/zigzag-line-desktop.svg");
    }
  }

  @media (min-width: $vp--768) {
    padding-top: 78px;
    padding-bottom: 113px;
    background-image: url("../img/bg/review@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: -50px;
    background-size: 400px 455px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg/review@2x.jpg");
    }
  }

  @media (min-width: $vp--1150) {
    background-position-x: 50px;
    padding-top: 79px;
    padding-bottom: 96px;
  }
}

.review__wrapper {
  @media (min-width: $vp--768) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $vp--1150) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.review__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $vp--768) {
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: start;
    align-self: start;
    padding-top: 4px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp--1150) {
    grid-column: 2/-2;
    grid-row: 1/2;
    font-size: 53px;
    line-height: 57px;
  }
}

.review__button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: $color-charcoal;
  text-transform: uppercase;

  @media (min-width: $vp--768) {
    grid-column: 4/-1;
    grid-row: 1/2;
    font-size: 17px;
    margin-bottom: 40px;
    width: 175px;
    justify-self: end;
  }

  @media (min-width: $vp--1150) {
    grid-column: 6/-1;
    grid-row: 1/2;
  }
}
