.slider {
  @media (min-width: $vp--768) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $vp--1150) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.slider__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $vp--768) {
    grid-column: 1/5;
    grid-row: 1/2;
    justify-self: start;
  }

  @media (min-width: $vp--1150) {
    grid-column: 2/-2;
    grid-row: 1/2;
    // justify-self: start;
  }
}

.slider__list {
  @media (min-width: $vp--768) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  @media (min-width: $vp--1150) {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
}

.slider__item {
  margin: 0;
}

.slider__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $color-charcoal;
}

.slider__author-info {
  font-style: initial;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;
}

.slider__author-contact {
  display: block;
  font-weight: 400;
  color: $color-charcoal;
  line-height: 30px;
}

.slider__buttons {
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $vp--768) {
    grid-column: 3/-1;
    grid-row: 2/3;
    place-self: end end;
  }
}

.slider__button {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: $color-charcoal;
  text-transform: uppercase;

  @media (min-width: $vp--768) {
    grid-column: 4/-1;
    grid-row: 1/2;
  }

  @media (min-width: $vp--1150) {
    grid-column: 6/-1;
    grid-row: 1/2;
  }
}
