.social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__link:hover .social__icon {
  fill: $color-puerto-rico-light;
}

.social__link:active .social__icon {
  fill-opacity: 0.3;
}

.social__link:focus-visible {
  outline: 2px solid $color-puerto-rico-light;
}
