$green: #008000;
$black: #000000;
$aubergine: #231f20;
$charcoal: #444444;
$white: #ffffff;
$whispen: #ececec;
$white-smoke: #f1f1f1;
$downy: #63d1bb;
$puerto-rico: #56c3b2;
$downy-light: #59d5bc;
$puerto-rico-light: #46c1ae;
