// Colors
// ---------------------------
// https://www.htmlcsscolor.com/hex/334482

// Base

$color-green:               #008000;
$color-black:               #000000;
$color-grey:                rgba(0, 0, 0, 0.1);
$color-aubergine:           #231f20;
$color-charcoal:            #444444;
$color-whisper:             #e5e5e5;
$color-white:               #ffffff;
$color-whispen:             #ececec;
$color-white-smoke:         #f1f1f1;
$color-downy:               #63d1bb;
$color-puerto-rico:         #56c3b2;
$color-downy-light:         #59d5bc;
$color-puerto-rico-light:   #46c1ae;

// Typography
// ---------------------------

$font-family-open-sans:      "Open Sans", "Arial", sans-serif;

// Viewports
// ---------------------------

$vp--320:                     320px;
$vp--768:                     768px;
$vp--1150:                    1150px;

// Retina
// ---------------------------

$retina-dpi:                  144dpi;
$retina-dppx:                 1.5dppx;
