.page-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  min-height: 100%;

  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}
